/*.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
*/
body {
  font-family: Helvetica;
  background: url('http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffe57f;
}

.float_wrapper {
  overflow: hidden;
  margin-bottom: 10%;
}

.left {
  float: left;
  max-width: 50%;
}

.right {
  float: right;
}

header {
  max-width: 60%;
  margin: 0 auto 4em auto;
  padding-top: 2em;
}

footer {
  width: 60%;
  margin: 4em auto 0 auto;
  padding: 2em 0 3em 0;
  text-align: center;
  color: #999999;
}

header h1 {
  margin: 0;
  font-size: 4em;
  color: #1a237e;
}

main {
  max-width: 75%;
  margin: 0 auto;
}

.sidebar {
  min-width: 20%;
}

.content {
  min-width: 90%;
}

#candidate-list {
  display: none;
}

.official {
  font-size: 2em;
  color: #ffe57f;
}

h3 {
  color: #e3f2fd;
}
a:link {
  color: #ffff8d;
  font-style: bold;
  text-decoration: underline;
}

#flag {
 padding-left: 30%;
}
