<div class='container'>
 <% if @candidate.id == 2 %>
 <div class="Stats right">
  <dl id="contact">
    <dt>Campaign Email:</dt>
    <dd><a href="press@hillaryclinton.com">press@hillaryclinton.com</a></dd>

    <dt>Campaign Webmail:</dt>
    <dd><a href='https://hrc-demo.secure.force.com/contact/'>https://hrc-demo.secure.force.com/contact/</a></dd>

    <dt>Campaign Website:</dt>
    <dd><a href='https://www.hillaryclinton.com/'>https://www.hillaryclinton.com</a></dd>

    <dt>Campaign Website:</dt>
    <dd><a href='https://instagram.com/hillaryclinton'>https://instagram.com/hillaryclinton</a></dd>
    <dt>Campaign Address:</dt>
    <dd>Post Office Box 5256</dd>
    <dd>New York, NY 10185</dd>
    <dd>Phone: 646-854-1432</dd>
  </dl>

  <h3><a href='https://spotfire.cloud.tibco.com/spotfire/wp/render/761194424092/analysis?file=/users/snehabn/Hillary&waid=x4bmLHwvuUCMqQhCTwWtg-090130450dAHUC&wavid=0'>Voting History</a></h3>

</div>
<div class='left'>

  <h2>Last Name: <%= @candidate.candidate["lastName"] %></h2>
  <div class="Education">
    <h3>Education</h3>
    <li>JD, Yale University, 1973</li>
    <li>BA, Wellesley College, 1969</li>
  </div>
  <div class="Political">
    <h3>Political Experience</h3>
    <li>United States Secretary of State, 2009-2013</li>
    <li>Sworn In, United States Secretary of State, January 21, 2009</li>
    <li>Senator, United States Senate, 2001-2009</li>
    <li>Candidate, United States President, 2008</li>
    <li>First Lady, President Bill Clinton, 1992-2000</li>
    <li>First Lady, State of Arkansas, 1978-1980, 1982-1992</li>
  </div>
  <div class="Professional">
    <h3>Professional Experience</h3>
    <li>Former Staff Attorney, Children's Defense Fund</li>
    <li>Former Board Member, Wal-Mart</li>
    <li>Attorney, Rose Law Firm, 1976-1992</li>
    <li>Assistant Professor, University of Arkansas Law School, 1975</li>
  </div>

  <div class="Addl">
    <h3>Awards:</h3>
    <ul>
      <li>Humanitarian Award, Elie Wiesel Foundation</li>
      <li>Women Who Make A Difference Lifetime Achievement Award, Family Circle</li>
      <li>President's Award, League of United Latin American Citizens</li>
      <li>International Women's Philanthropy Award, Lion of Judah Conference of Combined Jewish Philanthropies</li>
      <li>Distinguished Bridge Builder Award, Leon H. Sullivan Foundation</li>
      <li>Recognition, Military Order of the Purple Heart</li>
      <li>Distinguished Service Award, National Association of Elementary School Principals</li>
      <li>Bully Pulpit Award, National Council for Adoption</li>
      <li>Black Women of Courage Award, National Federation of Black Women Business Owners</li>
      <li>Martin Luther King Jr. Award, Progressive National Baptist Convention</li>
      <li>Secretary of Defense Medal for Outstanding Public Service</li>
      <li>Woman of Steel - Role Model of the Year, United Steel Workers of America</li>
      <li>Arkansas Woman of the Year-1983</li>

      <li>Arkansas Mother of the Year-1984</li>
      <li>First woman to be elected into the New York Senate</li>
      <li>She won a Grammy for Best Spoken Word Album for the audio of her book "It Takes a Village"</li>
    </ul>
  </div>
  <% end %>
</div>

<% if @candidate.id == 4 %>
<div class="Stats right">
  <dl id="contact">
    <dt>Campaign Email:</dt>
    <dd><a href="bernie@bernie.org">bernie@bernie.org</a></dd>

    <dt>Campaign Website:</dt>
    <dd><a href='https://berniesanders.com/'>https://berniesanders.com/</a></dd>

    <dt>Campaign Website:</dt>
    <dd><a href='https://instagram.com/berniesanders/'>https://instagram.com/berniesanders/</a></dd>
    <dt>Campaign Address:</dt>
    <dd>Post Office Box 905</dd>
    <dd>Burlington, VT 05402</dd>
    <dd>Phone: 802-862-1505</dd>
  </dl>

  <h3><a href='https://spotfire.cloud.tibco.com/spotfire/wp/render/761194424092/analysis?file=/users/snehabn/Bernie&waid=WZPXQoUpS0ya1I17LUhdt-0901384efeYrmN&wavid=0'>Voting History</a></h3>

</div>
<div class='left'>

  <h2>Last Name: <%= @candidate.candidate["lastName"] %></h2>
  <div class="Education">
    <h3>Education</h3>
    <li>Attended, Brooklyn College</li>
    <li>BA, University of Chicago, 1964</li>
  </div>
  <div class="Political">
    <h3>Political Experience</h3>
    <li>Senator, United States Senate, 2006-present</li>
    <li>Representative, United States House of Representatives, 1990-2006</li>
    <li>Mayor, City of Burlington, 1981-1989</li>
    <li>Candidate, United States House of Representatives, 1988</li>
    <li>Candidate, Governor of Vermont, 1972, 1976, 1986</li>
    <li>Candidate, United States Senate, 1972, 1974</li>
  </div>
  <div class="Professional">
    <h3>Professional Experience</h3>
    <li>Former Documentary Filmmaker</li>
    <li>Former Carpenter</li>
    <li>Journalist</li>
    <li>Lecturer, Hamilton College, 1989-1990</li>
    <li>Lecturer, Harvard University, 1989</li>
    <li>Director, American People's Historical Society, 1977</li>
  </div>

  <div class="Addl">
    <h3>Priority Issues:</h3>
    <ul>
      <li>Progressive Tax Reform</li>
      <li>Worker's Rights</li>
      <li>A National Energy Policy</li>
      <li>The Environment</li>
      <li>Justice and Equality For All</li>
      <li>National Healthcare</li>
      <li>Getting Our Priorities Right</li>
      <li>A Strong Safety Net</li>
    </ul>
    <h3>Publications:</h3>
    <li>Absolutely Absurd: The Life & Times of Bernie Sanders (Sleepy Hollow Press, 2002)-Outsider in the House (Verso, 1997)</li>

  </div>
  <% end %>
</div>
</div>
