<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">

  <!--
    application.css is where you put your styles
  -->


  <link rel="stylesheet" href="/css/application.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script type="text/javascript" src="https://spotfire.cloud.tibco.com/spotfire/wp/GetJavaScriptApi.ashx?Version=7.5"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>PoliSci</title>
</head>
<body>
 <header class="float_wrapper">
 <h1 class="left">PoliSci <i class="medium material-icons">assignment</i></h1>
  <p class="right"><a href="/">home</a></p>
</header>
<main class="float_wrapper">
 <%= yield %>
</main>
</body>
</html>
